@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2/semantic.min.css")
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

body
  margin: 0
  background: #eeeeee

.page-container
  margin-top: 5.5vh

.home
  .title
    font-size: 80px
    font-weight: 900
    padding: 2rem 0
    margin-left: 10vh
    color: #606060

  .description
    font-size: 32px
    font-family: source-code-pro,serif
    color: #606060

.text-center
  margin-top: 10%

.button
 background: black
 border-radius: 15px
 color: white
 width: 300px
 height: 50px

.profile-img
  width: 15vmax!important
  height: 15vmax!important
  position: relative
  min-width: 200px
  min-height: 200px
  object-fit: cover
  border-radius: 50%
  margin-top: 30vh
  border: 0.4rem solid white
  box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.3)


.profile-text
  margin-top: 45vh
  margin-left: -15vh

.cover-img
  display: block
  width: 100%!important
  position: absolute
  object-fit: cover
  max-height: 400px

.sidebar
  margin: 10vh 20vh

.login-card
  border-radius: 15px

.forms
  position: absolute
  top: 10vh
  left: 3vh

  input
    border-radius: 5px
    border: none
    padding: 1vh 3vh

  button
    height: 4vh
    border-radius: 5px
    width: 80px
    color: white
    background-color: black
