@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2/semantic.min.css")
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

body
  margin: 0
  background: #fff

.page-container
  margin-top: 5.5vh

.navbar
  background: transparent
  color: #837cfe

  a
    color: #837cfe
    font-size: 3vh

.title
  position: relative
  color: #837cfe
  font-size: 5em
  text-align: center
  font-weight: 900
  margin-top: 10vh

.text
  padding: 2.5vh
  position: relative
  font-size: 2em
  z-index: auto
  text-align: center

.button
 background: #837cfe
 border-radius: 15px
 font-size: 3vh
 color: white
 width: 300px
 height: 50px

.center-button
  margin-top: 3vh
  margin-left: 35vh

.profile-img
  width: 15vmax!important
  height: 15vmax!important
  position: relative
  min-width: 200px
  min-height: 200px
  object-fit: cover
  border-radius: 50%
  margin-top: 30vh
  border: 0.4rem solid white
  box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.3)


.profile-text
  margin-top: 49vh
  margin-left: -15vh

.cover-img
  display: block
  width: 100%!important
  position: absolute
  object-fit: cover
  max-height: 400px

.sidebar
  margin: 10vh 20vh

.login-card
  border-radius: 15px

.forms
  position: absolute
  top: 10vh
  left: 3vh

  input
    border-radius: 5px
    padding: 1vh 3vh

  button
    height: 4vh
    border-radius: 5px
    width: 80px
    color: white
    background-color: black

.card
  background: white
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15)
  border: none
  border-radius: 5px
